/* 화면 전체를 채우고 중앙 정렬을 위한 스타일 */
body, html {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

/* 회원가입4 컨테이너 스타일 */
.signup4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 500px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* 회원가입4 헤더 스타일 */
.signup4-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.signup4-logo {
    width: 150px;
    margin-bottom: 10px;
}

/* 회원가입 완료 메시지 스타일 */
.signup4-message {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.0em;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* 로그인 버튼 스타일 */
.signup4-button {
    width: 120px;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-top: auto;
} 
